<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Suyanne Zerger</title>
	</head>
	<body>
		<main>
			<h1>Welcome to <span>Astro</span></h1>
		</main>
	</body>
</html>